@model IEnumerable<tainanBeaconAPI.Models.ReferenceLink>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exhibition.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exhibition.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExhibitionId,link=item.Link }) |
            @Html.ActionLink("Details", "Details", new { id = item.ExhibitionId, link = item.Link }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ExhibitionId, link = item.Link })
        </td>
    </tr>
}

</table>
