
@{
    ViewBag.Title = "編輯";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Step1. 建立場地資料：</h2>
<p><a href="@Url.Action("Index", "Sites")" class="btn btn-primary btn-lg">Try it &raquo;</a></p>

<h2 >Step2. 建立展場資料：</h2>
<p><a href="@Url.Action("Index", "Exhibitions")" class="btn btn-primary btn-lg">Try it &raquo;</a></p>

<h2>Step3. 編輯展場參考連結：</h2>
<p><a href="@Url.Action("Index", "ReferenceLinks")" class="btn btn-primary btn-lg">Try it &raquo;</a></p>

<h2>Step4. 展場樓層：</h2>
<p><a href="@Url.Action("Index", "Floors")" class="btn btn-primary btn-lg">Try it &raquo;</a></p>

<h2>Step5. 佈置Becons：</h2>
<p><a href="@Url.Action("Index", "CheckPoints")" class="btn btn-primary btn-lg">Try it &raquo;</a></p>

<h2>Step6. 創建APP：</h2>
<p><a href="@Url.Action("Index", "APPs")" class="btn btn-primary btn-lg">Try it &raquo;</a></p>

<h2>Step7. 關聯APPs與Exhibitions：</h2>
<p><a href="@Url.Action("Index", "Holds")" class="btn btn-primary btn-lg">Try it &raquo;</a></p>
